@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  color: #fff;
  font-family: 'Metal Mania', cursive;
}

section.main {
  display: flex;
  padding: 5%;
}

.main__info {
  background-color: #3e3b3b72;
  opacity: 90%;
  padding: 2%;
  max-width: 50%;
  max-height: 200px;
  border-radius: 3rem;
}

.main__info h1 {
  padding-bottom: 2.5%;
  font-size: 32px;
  text-shadow: 10px 0 20px rgb(0, 0, 106);
}

.main__info p {
  font-size: 18px;
}

.genre__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  padding: 2.5%;
  background-color: #3e3b3b72;
  border-radius: 3rem;
}

.genre__search h1 {
  text-shadow: 2px 0 10px rgb(0, 0, 106);
  margin-bottom: 10%;
}

.genre__search > a {
  font-size: 22px;
  padding: 5%;
  color: white;
  text-shadow: 5px 5px 10px rgb(0, 0, 106);
}

.grid {
  padding: 2% 5%;
}

.grid h1 {
  margin: 2% 0;
}

.grid a {
  font-size: 22px;
  margin-left: 2%;
  color: rgb(2, 2, 116);
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr;
}

ul li {
  background-color: #3e3b3b72;
  border-radius: 2rem;
  padding: 5%;
  margin: 2% 5%;
  display: flex;
  flex-direction: column;
}

.load__album img {
  box-shadow: 1px 1px 10px rgb(2, 2, 116);
  border: 1px solid rgb(0, 0, 106);
  border-radius: 1rem;
}

.album__info {
  display: flex;
  padding: 4% 0;
}


.album__info > .info h3 {
    font-size: 24px;
    font-style: italic;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: end;
  font-size: 22px;
}

.price > input {
  max-width: 25%;
  border: none;
  background-color: #0000;
  color: white;
  text-align: center;
  font-size: 22px;
}

.price > button {
  max-width: 30%;
}

.error, .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  font-size: 32px;
}

.error a {
  color: rgb(2, 2, 116)
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
