@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  color: #fff;
  font-family: 'Metal Mania', cursive;
}

section.main {
  display: flex;
  padding: 5%;
}

.main__info {
  background-color: #3e3b3b72;
  opacity: 90%;
  padding: 2%;
  max-width: 50%;
  max-height: 200px;
  border-radius: 3rem;
}

.main__info h1 {
  padding-bottom: 2.5%;
  font-size: 32px;
  text-shadow: 10px 0 20px rgb(0, 0, 106);
}

.main__info p {
  font-size: 18px;
}

.genre__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  padding: 2.5%;
  background-color: #3e3b3b72;
  border-radius: 3rem;
}

.genre__search h1 {
  text-shadow: 10px 10px 30px rgb(0, 0, 106);
  margin-bottom: 10%;
}

.genre__search > a {
  padding: 5%;
  color: white;
  text-shadow: 5px 5px 10px rgb(0, 0, 106);
}

.grid {
  padding: 2% 5%;
}

.grid h1 {
  margin: 2% 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr;
}

ul li {
  background-color: #3e3b3b72;
  border-radius: 2rem;
  padding: 5%;
  margin: 2% 5%;
  display: flex;
  flex-direction: column;
}

.load__album img {
  box-shadow: 5px 5px 20px rgb(2, 2, 116);
  border: 2px solid rgb(0, 0, 106);
  border-radius: 1rem;
}

.album__info {
  padding: 4% 0;
  font-size: 22px;
}

.album__info > h3 {
    font-style: italic;
}